# ===========================
# Application
# ===========================
PyQt6-Fluent-Widgets>=1.11.2
cryptography>=42.0.0
argon2-cffi>=23.1.0

# ===========================
# Linting & Formatting
# ===========================
flake8>=7.3.0
flake8-bugbear>=25.11.29
mypy>=1.20.2
ruff>=0.15.12

# ===========================
# Security
# ===========================
bandit[toml]>=1.9.4
pip-audit>=2.10.0

# ===========================
# Testing
# ===========================
pytest>=9.0.3

# ===========================
# Pre-commit (Opsional)
# ===========================
pre-commit>=4.6.0
